p{
    border-top-width: 15px;
    border-top-style: solid;
    border-top-color: chartreuse;
    /* border-style: dashed; */
    /* border-style: double; */
    /* border-style: hidden; */
    /* border-style: groove; */
    /* border-style: ridge; */
    /* border-color: black; */
    border-left-width: 10px;
    border-left-style: dashed ;
    border-left-color: blueviolet;

    border-right-width:12px ;
    border-right-style: dotted;
    border-right-color: cadetblue;
    border-bottom-style: hidden;
    /* border-width: 5px; */
    /* border-width:thin;    */
}
.bor{
    /* border-style: solid;
    border-width: 5px;
     border-width: thick; 
    border-color: rgb(255, 162, 0); */

    /* border: border-width border-style border-color */
    border: 5px solid red;
}

/* this is a comment 
comment is ignorable part of code 
to take notes, */