/* CSS Casding style sheet  */
h3{
    color: blue;
}
/* RGB(Red Green Blue) color property */
h4{
    color:rgb(25, 21, 92);
}
/* hexadecimal color codes */
h5{
    color:#ff7f50;
}
/* HSL(Hue Saturation Lightness) color */
h6{
    color: hsl(5, 20%, 35%);
}
/* Color picker */
p{
    color: rgb(119, 74, 36);
}