p{
    color: black;
    /* font-family:Arial, Helvetica, sans-serif; */
    /* font-weight: bolder; */
    /* font-style: italic; */
    /* font-variant: small-caps; */
    /* font-size: large; */
}
.fon{
    color: black;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-weight: lighter;
    font-size: small; */
    /* font-style: oblique; */
    /* font-variant: small-caps; */
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
}
.bol{
    color:black;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight:700px;
    font-style: normal;
     font-size: 12vw; /* viewport width */
    /* font-size: medium; */
    /* font-size: 150px; */
    
}
.siz{
    color: black;
    /* font-size: xx-large; */
    font-size: 25px;
}
div{
    color: black;
    /* font-size: xx-small; */
}